:root {
    --main-black: #1D1D1D;
    --second-black: #2C2A2A;
    --main-grey: #BABABA;
    --second-grey: #353535;
    --third-grey: #807E7E;
    --main-white: #FFFFFF;
    --second-white: #EBEBEB;
    --light-red: #8C2E2E;
    --semi-red: #59292A;
    --dark-red: #431F20;
    --light-blue: #45BDD3;
    --second-light-blue: #27E0E8;
    --light-blue-menu: #253242;
    --dark-blue: #17202B;
    --light-purple: #571D91;
    --second-purple: #3C1B5B;
    --dark-purple: #210F32;
    --light-green: #55AB17;
    --second-green: #3C5C26;
    --dark-green: #243816;
}