html {
    overflow-x: hidden;
}

.body {
    background-color: var(--main-black);
    overflow-x: hidden;
}

.body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-image: url(../../media/images/background/Rain_World\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body--blue {
    background-color: var(--dark-blue);
}

.body--blue::before {
    display: none;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}