.gif {
    margin: 182px auto 0;
}

.gif img {
    margin: 0 auto;
    border-radius: 19px;
}

.animation {
    max-width: 640px;
    margin: 182px auto;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.animation_text {
    font-family: 'Segoe UI';
    color: var(--main-grey);
    height: 87px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}