.footer {
    background-color: black;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logos {
    padding-top: 83px;
    margin: 0 auto;
    display: flex;
}

.logos img{
    max-width: 186px;
}

.links {
    background-color: var(--second-grey);
    border-radius: 20px;
    padding: 8px 20px;
    display: flex;
    gap: 15px;
    max-width: 186px;
    align-items: center;
    justify-content: center;
    margin: 211px auto 100px;
}

.links img {
    max-width: 26px;
}

.img__links:hover {
    scale: 1.3;
}

.img__links {
    transition: .7s;
}

.links--red {
    background-color: var(--semi-red);
}

.links--purple::before {
    display: none;
}

.links--blue {
    background-color: var(--light-blue-menu);
}

.links--blue::before {
    display: none;
}

.links--green {
    background-color: var(--second-green);
}

.links--green::before {
    display: none;
}

.links--purple {
    background-color: var(--second-purple);
}

.links--purple::before {
    display: none;
}