.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Rodondo';
    margin-top: 215px;
    margin-bottom: 53px;
    font-size: 40px;
    color: var(--main-white);
    letter-spacing: 36%;
}

.slug-cats__card {
    font-size: 18px;
    background: var(--second-grey);
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    display: flex;
}

.slug-cats__card img {
    border-radius: 30px 30px 0 0;
    max-height: 300px;
}

.slug__name {
    margin: 14px 14px 0px;
    font-family: 'Segoe UI';
    font-size: 24px;
    color: var(--main-white);
}

.slug__description {
    margin: 14px 14px 48px;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: var(--main-grey);
}

.slug__link {
    margin: auto 14px auto;
    background-color: var(--light-red);
    color: var(--main-white);
    border-radius: 11px;
    padding: 14px 26px;
    font-family: 'Segoe UI';
    max-width: max-content;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slug-cats .swiper {
    overflow: visible;
}

.slug-cats .swiper-slide {
    max-width: 520px;
    width: 100%;
    height: auto;
}

.slug__link--blue {
    background-color: var(--light-blue);
}

.slug__link--purple {
    background-color: var(--light-purple);
}

.slug__link--green {
    background-color: var(--light-green);
}

.region__link {
    margin: auto 14px 0;
    background-color: var(--third-grey);
    color: var(--main-white);
    border-radius: 11px;
    padding: 20px 30px;
    font-family: 'Segoe UI';
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    background-color: var(--second-grey);
    max-width: max-content;
    margin: 0 auto;
    position: static;
    margin-top: 40px;
    border-radius: 115px;
    padding: 5px;
}

.swiper-pagination-bullet {
    background-color: var(--main-white);
    width: 17px;
    height: 17px;
}