.rivulet {
    margin-top: 64px;
}

.slug_box {
    display: flex;
    justify-content: space-between;
}

.slug_box img {
    min-width: 509px;
}

.slug_box--saint {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.slug_box--artificer {
    margin-top: 62px;
    max-width: 864px;
    margin-right: auto;
}

.slug_box--artificer img {
    transform: scale(-1, 1);
}

.slug_box--saint img {
    min-width: 240px;
    margin-left: 80px;
}

.slug__inner {
    display: flex;
    flex-direction: column;
    color: var(--main-white);
    gap: 80px;
    max-width: 374px;
    text-align: center;
    font-size: 16px;
    align-items: center;
}

.slug__inner--artificer {
    max-width: 374px;
    flex-direction: column;
    margin-left: 31px;
    text-align: center;
    font-size: 16px;
}

.slug__inner--saint {
    max-width: 374px;
    align-items: center;
    margin-right: 275px;
}

.slug__title {
    font-family: 'RODONDO';
    font-size: 48px;
    letter-spacing: 14px;
}

.slug__description {
    font-family: 'Segoe UI';
    color: var(--main-white);
}